body {
    font-family: 'Chakra Petch', sans-serif;
    margin: 0px;
    color: #FFFFFF
}

canvas {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.above {
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    z-index: 1;
}
